.main-section {
  padding: 6em;
  color: black;
}

.navigation-section {
  border-right: 6px solid #333;
  border-top-right-radius: 2em;
  border-left: 6px solid #333;
  border-top-left-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  text-align: center;
}
