.btn {
  width: 9rem;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  border-radius: 2em;
  background-color: #1b1d21;
}

.btn:is(:hover, :focus) {
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
