@import url("https://fonts.googleapis.com/css2?family=Oi&family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oi&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:wght@400;500;600;700;800&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1439px) {
  html {
    max-width: 1439px !important;
  }
}

/* xl */
@media (max-width: 1282px) {
  html {
    max-width: 1282px !important;
  }
}

/* lg */
@media (max-width: 1024px) {
  html {
    max-width: 1024px !important;
  }
}

/* md */
@media (max-width: 768px) {
  html {
    max-width: 768px !important;
  }
}
/* sm */
@media (max-width: 640px) {
  html {
    max-width: 640px !important;
  }
}
/* xm */
@media (max-width: 482px) {
  html {
    max-width: 482px !important;
  }
}

body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:any-link {
  color: inherit;
}

a:is(:hover, :focus) {
  cursor: pointer;
  opacity: 0.9;
}

li {
  list-style: none;
}

.my-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.2em;
  background-color: white;
  color: black;
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
  font-size: 1rem;
  font-weight: bolder;
}
