.container {
  display: flex;
  gap: 1em;
}

.bar {
  height: 18px;
  width: 2px;
  background-color: black;
}

.dashboard {
  position: absolute;
  top: 280px;
  left: 550px;
}

.dashboard .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}

.requests {
  position: absolute;
  top: 240px;
  left: 550px;
}

.requests .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}

.events {
  position: absolute;
  top: 280px;
  left: 530px;
}

.events .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}

.clubPage {
  position: absolute;
  top: 335px;
  left: 530px;
}

.clubPage .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}

.form {
  position: absolute;
  top: 345px;
  left: 550px;
}

.from .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}

.noReq {
  position: absolute;
  top: 320px;
  left: 120px;
}

.noReq .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}
.noItemWeekly {
  position: absolute;
  top: 135px;
  left: 90px;
}

.noItemWeekly .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}

.noItemWeeklyCl {
  position: absolute;
  top: 135px;
  left: 245px;
}

.noItemWeeklyCl .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}

.noItemWeeklyST {
  position: absolute;
  top: 80px;
  left: 235px;
}

.noItemWeeklyST .bar {
  height: 22px !important;
  width: 4px !important;
  background-color: black;
}
